section#benefits.benefits
  .container
    header.benefits__header
      h2.sub-heading.benefits__heading What can we do for you?
      p.bn-text.benefits__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
    .row
      .col-md-12
        .bn-card.benefits__card
          i.bn-card__icon
          .bn-card__content
            h3.h3-heading.bn-card__heading Health and safety law
            p.ab-text.bn-card__text Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna

      .col-md-12
        .bn-card.benefits__card
          i.bn-card__icon
          .bn-card__content
            h3.h3-heading.bn-card__heading Employment & Insurance Claims
            p.ab-text.bn-card__text Lorem nonumy eirmod tempor invidunt ut labore et dolore magna

      .col-md-12
        .bn-card.benefits__card
          i.bn-card__icon
          .bn-card__content
            h3.h3-heading.bn-card__heading Negligence and Personal Injury Law
            p.ab-text.bn-card__text Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna

      .col-md-12
        .bn-card.benefits__card
          i.bn-card__icon
          .bn-card__content
            h3.h3-heading.bn-card__heading Wills, Trusts and Estates
            p.ab-text.bn-card__text Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna

      .col-md-12
        .bn-card.benefits__card
          i.bn-card__icon
          .bn-card__content
            h3.h3-heading.bn-card__heading Medical Malpractice
            p.ab-text.bn-card__text Lorem nonumy eirmod tempor invidunt ut labore et dolore magna

      .col-md-12
        .bn-card.benefits__card
          i.bn-card__icon
          .bn-card__content
            h3.h3-heading.bn-card__heading Civil Rights and Employment
            p.ab-text.bn-card__text Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
