section#clients.clients
  .container
    .row
      .col-md-12
        h2.sub-heading.clients__heading Our Clients
        p.ab-text.clients__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        ul.ab-list.clients__list
          li.ab-list__item Aliquam tincidunt mauris eu risus Vestibulum auctor dapibus neque.
          li.ab-list__item Nunc dignissim risus id metus cras ornare tristique elit.
          li.ab-list__item Vivamus vestibulum nulla nec ante Integer malesuada commodo nulla.
        p.ab-text.clients__text At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
      .col-md-12
