section#team.team
  .container
    .row.justify-content-between
      .col-md-12.col-lg-16
        .row.justify-content-around.justify-content-lg-between
          .col-md-12.col-lg-8
            img.team__img.img-fluid(src="/img/business-1.jpg", alt="business 1")
          .col-md-12.col-lg-8
            img.team__img.img-fluid(src="/img/business-2.jpg", alt="business 2")
          .col-md-12.col-lg-8
            img.team__img.img-fluid(src="/img/business-3.jpg", alt="business 3")
          .col-md-12.col-lg-8
            img.team__img.img-fluid(src="/img/business-4.jpg", alt="business 4")
          .col-md-12.col-lg-8
            img.team__img.img-fluid(src="/img/business-5.jpg", alt="business 5")
          .col-md-12.col-lg-8
            img.team__img.img-fluid(src="/img/business-6.jpg", alt="business 6")
          .col-md-12.col-lg-8
            img.team__img.img-fluid(src="/img/business-7.jpg", alt="business 7")
          .col-md-12.col-lg-8
            img.team__img.img-fluid(src="/img/business-8.jpg", alt="business 8")
          .col-md-12.col-lg-8
            img.team__img.img-fluid(src="/img/business-9.jpg", alt="business 9")
      .col-md-12.col-lg-8
        h2.sub-heading.team__heading Our law office
        p.ab-text.team__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        ul.ab-list.team__list
          li.ab-list__item Aliquam tincidunt mauris eu risus.
          li.ab-list__item Vestibulum auctor dapibus neque.
          li.ab-list__item Nunc dignissim risus id metus.
          li.ab-list__item Cras ornare tristique elit.
          li.ab-list__item Vivamus vestibulum nulla nec ante.
          li.ab-list__item Integer malesuada commodo nulla.
        p.ab-text.team__text  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
