footer.footer
  .container
    .row
      .col-md-12.col-lg-6.footer__col
        h3.ft-heading.footer__heading About
        p.ab-text.footer__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        p.ab-text.footer__text At vero eos et accusam et justo duo dolores et ea rebum.
      .col-md-12.col-lg-6.footer__col
        h3.ft-heading.footer__heading Contacts
        p.ab-text.footer__text 
          i.fa.fa-home
          | Via Roma 43, Napoli
        p.ab-text.footer__text 
          i.fa.fa-phone
          | 332 - 493 183 732
        p.ab-text.footer__text 
          i.fa.fa-file
          | 392 - 392 128 291
        p.ab-text.footer__text.footer__text--phone
          i.fa.fa-mobile-phone
          | 122 - 291 281 271
        p.ab-text.footer__text 
          i.fa.fa-envelope-open-o
          | info@mywebsite.com
      .col-md-12.col-lg-6.footer__col
        h3.ft-heading.footer__heading Recent news
        ul.ft-list.footer__list
          li.ft-list__item 
            a.ft-list__link(href="#") New post
          li.ft-list__item 
            a.ft-list__link(href="#") 5th Post
          li.ft-list__item 
            a.ft-list__link(href="#") We are the number one
          li.ft-list__item 
            a.ft-list__link(href="#") 100 shortcodes + generator
          li.ft-list__item 
            a.ft-list__link(href="#") Our delivery service: faster than ever

      .col-md-12.col-lg-6.footer__col
        h3.ft-heading.footer__heading Flickr images
        .ft-card.footer__card
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-1.jpg", alt="footer 1")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-2.jpg", alt="footer 2")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-3.jpg", alt="footer 3")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-4.jpg", alt="footer 4")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-5.jpg", alt="footer 5")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-6.jpg", alt="footer 6")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-7.jpg", alt="footer 7")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-8.jpg", alt="footer 8")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-9.jpg", alt="footer 9")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-10.jpg", alt="footer 10")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-11.jpg", alt="footer 11")
          figure.ft-card__item.ft-item
            img.ft-item__img.img-fluid(src="/img/footer-12.jpg", alt="footer 12")
