section#about.about
  .container
    .row.justify-content-lg-between
      .col-md-12.col-lg-11
        h2.sub-heading.about__heading Welcome to Legal Office
        p.ab-text.about__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        ul.ab-list
          li.ab-list__item Administrative Law & Construction Law
          li.ab-list__item Alternative Dispute Resolution
          li.ab-list__item Commercial and Asset Based Lending
        p.ab-text.about__text At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
      .col-md-12.col-lg-11
        h2.sub-heading.about__heading About us
        p.ab-text.about__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        p.ab-text.about__text Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        p.ab-text.about__text Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

